<ul>
<TMPL_LOOP Items>
	<li><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR channel_name></a>: <TMPL_IF title><a href="http://planet.sslug.dk/"><TMPL_VAR title></a>.</TMPL_IF></li>
</TMPL_LOOP>
</ul>
